* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to left top, #98002e, #b8302d, #d35529, #e97a22, #f9a01b);
    font-family: 'Graduate', cursive;
    font-size: 40px;
    background-repeat: no-repeat;
    height: 100vh;
}

.logo-miami {
    width: 80px;
    padding-left: 10px;
}

.color-heat {
    text-shadow: -5px -2px 10px black;
    color: white;
}

.inicio{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom:1px solid;
    color:rgb(255, 165, 90);

}

.menu-principal{
    display: flex;
    gap: 10px;
}

.color-nav{
    text-shadow: -5px -2px 10px black;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
}